[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
gunicorn = "==19.9.0"
Flask-RESTful = "*"
python-dotenv = "*"
Flask-SQLAlchemy = "*"
Werkzeug = "==2.2.3"
Flask-Migrate = "*"
Flask-Script = "*"
Flask = "==1.0.2"
flask-mail = "==0.9.1"
Flask-DebugToolbar = "==0.10.1"

[requires]
python_version = "3.7"
